/* Anatomia de CSS */
/*
  selector {
  propiedad: valor;
  propiedad: valor;
  }
  */
body{
  font-family: Arial;
  font-size: 18px;
  color: orangered;
  background-color: #000;
  text-align: justify;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h1,h2,h3 {
  font-family:Thaoma;
  /*background-color: #1bec59*/
  text-align: center;
}
h3 {
  font-size:20px;
  color: blue;
}
a{
  color: #000;
  background-color: #ffffff;
  text-decoration: none;
  font-family: Helvetica, Arial, Open Sans, sans-serif;
}
a:hover {
  color: orange;
  background-color: darkblue;
}
p{
  line-height: 150%
}

#foto-linus {
  display: block;
  margin: 0 auto 0 auto;
  border-top: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 25px white;
}
